*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

@mixin flexCenter(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-style($bg-color $pointer){
    padding: 20px 30px;
    background-color: $bg-color;
    cursor: $ponter;
    border-radius: 6px;
    border: none;
    outline: none;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    @include flexCenter();

    #header{
        height: 50%;
        width: 50%;
        background-color: white;
        @include flexCenter();

        #child{
            height: 25%;
            width: 25%;
            background-color: aqua;
            @include flexCenter();

            .child{
                color: blue;
            }
        }
    }
}