* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
   
    
   
    section{height: 400px;
        width: 100%;
        background-color: rgb(3, 76, 88);
        border-radius: 40px;
        margin: 4rem 4rem;
        display: flex;
        // justify-content: center;
        flex-direction: column;
        // gap: 100px;
        position: relative;
        overflow: hidden;
       


      
        #top{
            height: 300px;
            margin-left: 100px;
            
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            img{
                height:200px;
                width: 200px;
                padding: 1rem;
                border-radius: 30px;
                object-fit: cover;
                
            }

            .element{
                display: flex;
                flex-direction: column;
                // margin-top: 0px;
                color: white;
                margin: 25px;
            }

            .logo{
               display: flex;
               position: absolute;
               right: 10%;
               top: 20%;

                img{
                    height: 100px;
                    width: 100%;
                    object-fit: fill;
                
                }
            }

            .icon{
                // width: 100%;
                // height:100px;
               display: flex;
               justify-content: center;
               align-items: center;
              margin-top: 10px;
              gap: 50px;
            // padding-top: 50px;
                i{
                    font-size: 2rem;
                }
            }
        }

        #bottom{
            height: 100px;
            width: 100%;
            display: flex;
            flex-direction: row;
            background-color: rgba(0, 255, 255, 0.441);
            justify-content: space-evenly;
            align-items: center;
            position: absolute;
           padding: 20px;
            bottom: 0;
           

           img{width: 80px;
            height: 80px;
            border: 2px solid rgba(0, 255, 255, 0.219);;
            object-fit: cover;
            border-radius: 10px;
           
           }

           .img1{
            border-radius: 50%;
           }

           .img8{
            clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
           }

           .img3{

           }

           .img4{

           }
           
           .img5{

           }

           .img6{
            border-radius: 50%;
            
           }
        }
    }

}