*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100;
    width: 100;
}


#box{height: 200px;
width: 200px;
background-color: aliceblue;}


#box1{height: 100px;
width: 300px;
position: absolute;
left: 40px;
background-color: chartreuse;}


#box2{height: 200px;
   
width: 500px;
background-color: blue;}

#parent{height: 1000px;
    width: 100px;
    /* position: absolute;
    left: 20%; */
position: relative;
    background-color: chartreuse;
}

#child{height: 600px;
width: 20px;
position: absolute;
left: 50%;
background-color: rgb(51, 30, 210);}

